@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Regular.eot") format("opentype"),
    url("./assets/fonts/Satoshi-Regular.ttf") format("truetype"),
    url("./assets/fonts/Satoshi-Regular.woff") format("woff");
url("./assets/fonts/Satoshi-Regular.woff2") format("woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

h1 {
    font-size: 6.75rem;
    font-family: "Satoshi", sans-serif;
}

h2 {
    font-size: 0.875rem;
    font-weight: 500;
}

.heading {
    position: relative;
    padding-left: 1em;
    margin-bottom: 0;
}

.mt-7 {
    margin-top: 7em;
}

.mb-7 {
    margin-bottom: 7em;
}

h3 {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.875rem;
}

h4 {
    font-size: 3.125rem;
    font-weight: 300;
}

main {
    background: #000;
}

a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

a.btn {
    padding: 0;
    text-transform: none;
}

p {
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}

span {
    font-size: 0.75rem;
}

p, a {
    font-weight: 400;
    font-size: 0.75rem;
}

a.active {
    color: #fff;
}

a.active::before, .heading::before {
    position: absolute;
    content: url("./assets/vector.svg");
    left: -1em;
    line-height: 0;
    top: 50%;
    transform: translateY(-50%);
}

.heading::before {
    left: 0;
}

.home {
    height: 100vh;
    background-image: url("./assets/hero.png");
    background-size: cover;
}

.btn {
    color: #fff;
    border: none;
}

.btn-transparent {
    font-weight: 300;
    font-size: 0.75rem;
    transition: transform 0.3s ease-in-out;
}

.btn-transparent:hover {
    transform: scale(1.05);
}

.btn-dark {
    background: rgba(55, 55, 55, 0.78);
    font-size: 0.65rem;
    padding: 1.5em 4em;
    border-radius: 15em;
}

.social-media a:first-child::before {
    position: absolute;
    content: "";
    left: -1em;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 50%;
    background: #fff;
}

.cookies {
    background: rgba(3, 3, 3, 0.4);
}

.project p {
    color: rgba(255, 255, 255, 0.24);
}

.sponsors p {
    font-size: 2rem;
    color: #fff;
}

.btn-circle {
    font-size: 0.875rem;
    position: relative;
    padding-left: 1.75em;
}

.btn-circle::before {
    content: "";
    width: 1em;
    height: 1em;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border: 2px #075919 solid;
    border-radius: 100%;
}

.sponsors .blur {
    height: 5em;
    width: 50em;
    background: #14DA3C;
    position: absolute;
    left: -10em;
    top: 50%;
    transform: translateY(-50%) rotateZ(50deg);
    filter: blur(8em);
}

.manifesto p {
    font-size: 4rem;
    font-weight: 300;
}

.feature {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.feature p, .about p {
    font-size: 2rem;
    color: #fff;
}

.feature p {
    text-indent: 1.5em;
}

.feature span {
    position: absolute;
    left: 1em;
    top: 1.5em;
    font-weight: 300;
    font-size: 0.75rem;
}

.about h3, .our-team h3 {
    font-size: 5rem;
    margin-bottom: 3em;
    color: #fff;
}

.our-team h3 {
    font-weight: 300;
    margin-bottom: 0;
}

.our-team h3:nth-child(2) {
    text-indent: 1.1em;
}

.team-member span {
    bottom: -3em;
    left: 2em;
}

.team-member h4 {
    top: 45%;
    transform: translateY(-40%);
    left: 90%;
}

.team-member .circle {
    width: 6rem;
    height: 6rem;
    border: 1px solid rgba(255, 255, 255, 30%);
    border-radius: 100%;
    position: relative;
}

.team-member .circle:before, .team-member .circle-plus:after {
    content: "";
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    width: 1.5rem;
    height: 1px;
    background: #14DA3C;
}

.team-member .circle-plus:after {
    width: 1px;
    height: 1.5rem;
}

.social-media-bottom a {
    text-transform: none;
}

footer span {
    color: #1CAA39;
}

@media screen and (max-width: 992px) {
    .our-team h3:nth-child(2) {
        text-indent: 0;
    }
}

@media screen and (max-width: 768px) {
    .project {
        margin-top: 0;
        margin-bottom: 5em;
    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 4rem;
    }

    .about h3, .our-team h3 {
        font-size: 2.5rem;
    }

    .team-member h4 {
        top: 80%;
        transform: translateY(-40%);
        left: 50%;
    }
}

